@charset "utf-8";


/*スマートフォンベース
------------------------------------------------------------*/

/*全体
--------------------------------*/
* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #f3f3f3;
    a {
        text-decoration: none;
    }
}

/*背景色*/
.background-dark {
    background-color: #303030;
}
.background-light {
    background-color: #f3f3f3;
}
.background-grey {
    background-color: #D7D7D7;
}
.background-spring {
    background-color: #ffcef5;
}

.background-summer {
    background-color: #9FD8FF;
}

.background-autumn {
    background-color: #FFB153;
}

.background-winter {
    background-color: #D7D7D7;
}

.background-red {
    background-color: #b52020;
}

/*文字色*/
.color-dark {
    color: #303030;
}
.color-light {
    color: #f3f3f3;
}

/*画像周りの線の色*/
.img-border-dark {
    border: solid;
    border-width: 1px;
    border-color: #303030;
}
.img-border-light {
    border: solid;
    border-width: 1px;
    border-color: #f3f3f3;
}

/*線の色*/
.border-dark {
    border: solid;
    border-color: #303030;
}
.border-light {
    border: solid;
    border-color: #f3f3f3;
}

/*線のふとさ*/
.bw-1 {
    border-width: 1px;
}


/*ヘッダー
---------------------------------*/
header {
    position: fixed;
    z-index: 1;
}

.header-content {
    width: 100vw;
    height: 48px;
    background-color: #303030;
}

.header-items {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*空白用*/
.empty-box {     
    width: 30px;
    height: 100%;
}

/*ハンバーガーメニュー*/
.humburger-box {
    width: 32px;
    aspect-ratio: 1;
    border-radius: 20%;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5.6px;
}

.humburger-line-top, .humburger-line-middle, .humburger-line-bottom {
    width: 24px;
    height: 3px;
    background-color: #303030;
}
/*------------------*/


.header-title{
    color: #f3f3f3;
    font-family: "Tilt Warp", sans-serif;
    font-weight: 500;
    font-size: 32px;
}


/*ページタイトルバー
-------------------------------------*/
.title-bar {
    position: fixed;
    width: 100vw;
    height: 32px;
    transform: translate(0, 64px);
    background-color: #303030;
    z-index: 2;
}

.page-title {
    color: #f3f3f3;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 22px;
}

/*一覧ページ用
------------------*/
.list-title-bar-items {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*詳細、登録ページ用
------------------*/
.detail-create-title-bar-items {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    gap: 5%;
    align-items: center;
}

/*検索、戻るボタン*/
.return-search-box {
    width: 26px;
    height: 26px;
    border-radius: 20%;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.return-search-img {
    width: 22px;
    aspect-ratio: 1;
    object-fit: cover;
}

/*ハンガーイラスト
------------------------------------*/
/*一覧用*/
.list-hanger {
    position: fixed;
    display: inline-block;
    width: 400px;
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23303030' d='M9.5 6V5a2.5 2.5 0 0 1 5 0v.216a3.1 3.1 0 0 1-.908 2.192q-.768.767-1.592 1.465a26 26 0 0 1-10.487 5.374L.5 14.5v3l.782.26a33.9 33.9 0 0 0 21.436 0l.782-.26v-3l-1.013-.253A26 26 0 0 1 14 10.405' stroke-width='0.05'/%3E%3C/svg%3E");
    transform: translate(-33vw, 16px);
    z-index: -1;
}

/*詳細、登録用*/
.detail-create-hanger {
    position: fixed;
    display: inline-block;
    width: 400px;
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23303030' d='M9.5 6V5a2.5 2.5 0 0 1 5 0v.216a3.1 3.1 0 0 1-.908 2.192q-.768.767-1.592 1.465a26 26 0 0 1-10.487 5.374L.5 14.5v3l.782.26a33.9 33.9 0 0 0 21.436 0l.782-.26v-3l-1.013-.253A26 26 0 0 1 14 10.405' stroke-width='0.05'/%3E%3C/svg%3E");
    left: 50%;
    transform: translate(-50%, 16px);
    z-index: -1;
}

/*追加ボタン
-------------------------------*/
.addition-button {
    position: fixed;
    bottom: 60px;
    right: 8%;
    width: 44px;
    aspect-ratio: 1;
    border-radius: 50%;
    border-width: 2px;
    z-index: 1;
}

.addition-button-line-horizontal, .addition-button-line-vertical {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 22px;
    height: 3px;
    border-radius: 3px;
}

.addition-button-line-vertical {
    transform: rotate(90deg);
}


/*アイテム一覧ページ
----------------------------------*/
.list-content {
    padding-top: 90px;
    width: 100vw;
}

.list-category {
    padding-top: 20px;
    width: 90%;
    margin: 0 auto;
}

.list-title {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.list-items {
    display: grid;
    padding-top: 8px;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.item-box {
    width: 100%;
    aspect-ratio: 13/17;
    text-decoration: none;
}

.item-elements {
    width: 80%;
    margin: 0 auto;
    padding: 6px 0 3px 0;
}

.item-img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-width: 0.5px;
}

.item-name {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 500;
    font-size: 11px;
    margin: -5px 0 0 4px;
    line-height: 1.2;
}

.item-brand {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    font-size: 9px;
    margin: -2px 0 0 4px;
}


/*アイテム詳細ページ
---------------------------------*/
.item-detail-content {
    margin: 0 auto;
    width: 90%;
    padding-top: 160px
}

.item-detail-items {
    width: 100%;
    padding: 12px 0 12px 0;
    font-family: "Zen Kaku Gothic New", sans-serif;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.img-box {
    width: 72%;
    margin: 0 auto;
}

.item-detail-img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-width: 0.5px;
    border-radius: 12px 12px 0 0;
}

.item-detail-title {
    font-weight: 700;
    font-size: 28px;
    margin-top: -4px;
}

.item-detail-brand {
    font-weight: 500;
    margin-top: -2px;
}

.item-detail-category-items {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.item-detail-category-box {
    background-color: #f3f3f3;
    height: 18px;
    border-radius: 10px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-detail-category {
    color: #303030;
    font-size: 13px;
    font-weight: 500;
    padding: 0 10px 2px 10px;
}

.item-detail-button-items {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.item-detail-button-box {
    width: 22%;
    height: 30px;
    border-width: 1px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
        background-color: rgba(0, 0, 0, 0);
        border-style: none;
    }
}

.item-detail-button-title {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    padding: 0 8px 0 8px;
    font-size: 16px;
}


/*コーデ一覧ページ
----------------------------------*/
.outfit-list-content {
    width: 100vw;
    padding-top: 140px;
}

.outfit-top-box {
    height: 3vw;
    border-width: 0 0 1.5px 0;
}

.outfit-box {
    width: 100vw;
    display: flex;
}

.outfit-box-left {
    width: 3vw;
    border-width: 0 1.5px 1.5px 0;
}

.outfit-box-right {
    width: 3vw;
    border-width: 0 0 1.5px 1.5px;
}

.outfit-box-center {
    width: 94vw;
}

.season-title-content {
    border-width: 0 0 1.5px 0;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.season-title-box {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.season-name {
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
}

.outfit-list-items {
    display: grid;
    padding: 20px 1vw 20px 1vw;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    border-width: 0 0 1.5px 0;
}

.outfit-box-bottom {
    height: 3vw;
    border-width: 0 0 1.5px 0;
}

/*トップページ
------------------------*/
.index-top-bar {
    position: fixed;
    width: 100vw;
    height: 12px;
    top: 10%;
    background-color: #303030;
    z-index: 2;
}

.index-title {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    top: 35%;
    font-family: "Tilt Warp", sans-serif;
    font-size: 60px;
}

.index-content {
    width: 100vw;
    position: fixed;
    top: 58%;
}

.index-box {
    width: 100%;
    height: 80px;
    border-width: 0 0 1.5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-button-box {
    width: 40%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.index-button-title {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 20px;
    font-weight: 500;
}


/*コーデ詳細ページ
----------------------------------*/
.outfit-detail-items {
    width: 100%;
    padding: 12px 0 12px 0;
    font-family: "Zen Kaku Gothic New", sans-serif;
    border-width: 1px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.outfit-item-content {
    width: 96%;
    margin: 0 auto;
    padding-top: 20px;
}

.outfit-item-title {
    text-align: left;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 500;
}

.outfit-item-items {
    padding-top: 8px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;

    .item-img{
        width: 90%;
    }

    .item-name {
        margin-top: -2px;
        text-align: left;
        font-size: 9px;
    }
}

.outfit-season-items {
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.detail-season-title-box {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 1px;
}

.detail-season-name {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
}



/*フッター
--------------------------*/
footer {
    position: sticky;
    top: 100vh;
    font-family: "Noto Sans", sans-serif;
    font-size: 8px;
    font-weight: 500;
    color: #303030;
    text-align: right;
    margin: 0 5vw 0 0;
}

/* アイテム登録画面
----------------------------*/
.form-items {
    width: 90%;
    margin: 0 auto 20px;
    display: flex;
    flex-direction: column;
    left: 0%;
    text-align: left;
    font-family: "Zen Kaku Gothic New", sans-serif;
    h3 {
        font-size: 16px;
        font-weight: 700;
        padding-bottom: 8px;
    }
    h4 {
        font-size: 14px;
        font-weight: 500;
    }
    input {
        height: 24px;
        padding: 2px 5px;
        border-radius: 10px;
        border-width: 1px;
    }
    select {
        width: 100px;
        border-width: 1px;
        border-radius: 2px;
    }
}

#form-file {
    padding: 0;
    border-radius: 0;
    height: 30px;
}

.form-button {
    width: 100px;
    height: 30px;
    border-style: none;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 16px;
    border-radius: 10px;
    font-weight: 500;
}


/*アイテム削除画面
-----------------------------------*/
.item-delete-content {
    margin: 0 auto;
    width: 90%;
    padding-top: 230px
}

.delete-title {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 700;
    font-size: 18px;
}



/*チェックボックス関連
----------------------------------*/
.checkbox-season-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    margin: 0 auto;
    gap: 8px;
}

.checkbox-items {
    width: 100%;
    display: flex;
    gap: 2px;
    padding-bottom: 8px;
}

.create-season-title-box {
    width: 72px;
    height: 25px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-season-name {
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
}

.checkbox-item-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    margin: 0 auto;
    gap: 5px;
}

.checkbox-item-name {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    font-size: 12px;
}