{% extends 'base.html' %}
{% load static %}

{% block title_parent %}ログイン{% endblock %}


{% block content %}
<span class="index-top-bar"></span>
<!--ハンガーイラスト-->
<span class="detail-create-hanger"></span>
<h1 class="index-title color-dark">hanger</h1>
<div class="index-content">
    <div class="outfit-top-box background-dark border-light"></div>
    <div class="outfit-box">
        <div class="outfit-box-left background-dark border-light"></div>
        <div class="outfit-box-center background-dark">
            <div class="index-box background-dark border-light">
                <div class="index-button-box background-light">
                    <a href="{% url 'accounts:login' %}"><h2 class="index-button-title color-dark">ログイン</h2></a>
                </div>
            </div>
            <div class="outfit-box-bottom border-light"></div>
            <div class="index-box background-dark border-light">
                <div class="index-button-box background-light">
                    <a href="{% url 'accounts:signup' %}"><h2 class="index-button-title color-dark">会員登録</h2></a>
                </div>
            </div>
            <div class="outfit-box-bottom border-light"></div>
        </div>
        <div class="outfit-box-right background-dark border-light"></div>
    </div>
</div>
{% endblock %}