{% extends 'header_and_back.html' %}
{% load static %}

{% block title_child %}アイテム詳細{% endblock %}

{% block nav %}
<div class="humburger-box">
    <span class="humburger-line-top"></span>
    <span class="humburger-line-middle"></span>
    <span class="humburger-line-bottom"></span>
</div>
{% endblock %}


{% block page-title %}
<div class="detail-create-title-bar-items">
    <!--戻るボタン-->
    <a class="return-search-box" href="{% url 'list-item' %}">
        <img class="return-search-img" src="{% static 'hanger/img/icon-park-outline--return.png' %}">
    </a>
    <h2 class="page-title">アイテム詳細</h2>
</div>
{% endblock %}

{% block content_child %}
<!--ハンガーイラスト-->
<span class="detail-create-hanger"></span>
<div class="item-detail-content">
    <div class="item-detail-items background-dark">
        <div class="img-box">
            <img class="item-detail-img border-light" src="{{ object.thumbnail.url }}">
        </div>
        <h1 class="item-detail-title color-light">{{ object.name }}</h1>
        <h3 class="item-detail-brand color-light">{{ object.brand }}</h3>
        <div class="item-detail-category-items">
            <div class="item-detail-category-box">
                <h4 class="item-detail-category color-light">{{ object.category }}</h4>
            </div>
        </div>
        <div class="item-detail-button-items">
            <a class="item-detail-button-box background-dark border-light" href="{% url 'update-item' object.pk %}">
                <h3 class="item-detail-button-title color-light">編集</h2>
            </a>
            <a class="item-detail-button-box background-dark border-light" href="{% url 'delete-item' object.pk %}">
                <h3 class="item-detail-button-title color-light">削除</h2>
            </a>
        </div>
    </div>
</div>
{% endblock %}