{% extends 'header_and_back.html' %}
{% load static %}

{% block title_child %}アイテム編集{% endblock %}

{% block nav %}
<div class="humburger-box">
    <span class="humburger-line-top"></span>
    <span class="humburger-line-middle"></span>
    <span class="humburger-line-bottom"></span>
</div>
{% endblock %}


{% block page-title %}
<div class="detail-create-title-bar-items">
    <!--戻るボタン-->
    {% if outfit %}
    <a class="return-search-box" href="{% url 'detail-outfit-item' outfit_id=outfit.pk pk=object.pk %}">
        <img class="return-search-img" src="{% static 'hanger/img/icon-park-outline--return.png' %}">
    </a>
    {% else %}
    <a class="return-search-box" href="{% url 'detail-item' object.pk %}">
        <img class="return-search-img" src="{% static 'hanger/img/icon-park-outline--return.png' %}">
    </a>
    {% endif %}
    <h2 class="page-title">アイテム編集</h2>
</div>
{% endblock %}

{% block content_child %}
<!--ハンガーイラスト-->
<span class="detail-create-hanger"></span>
<div class="item-detail-content">
    <div class="item-detail-items background-grey">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-items">
                <h3>アイテム名</h3>
                <input name="name" class="border-dark background-light" value="{{ object.name }}">
            </div>
            <div class="form-items">
                <h3>ブランド名</h3>
                <input name="brand" class="border-dark background-light" value="{{ object.brand }}">
            </div>
            <div class="form-items">
                <h3>カテゴリーを選択</h3>
                <select name="category" class="border-dark background-light">
                    {% for category in form.category %}
                        {{ category }}
                    {% endfor %}
                </select>
            </div>
            <div class="form-items">
                <h3>画像を選択</h3>
                <input type="file" name="thumbnail" id="form-file">
            </div>
            <button type="submit" class="form-button background-dark color-light">修正する</button>
        </form>
    </div>
</div>
{% endblock %}