{% extends 'header_and_back.html' %}
{% load static %}

{% block title_child %}アイテム一覧{% endblock %}

{% block nav %}
<div id="humburger-menu-open" class="humburger-box">
    <span class="humburger-line-top"></span>
    <span class="humburger-line-middle"></span>
    <span class="humburger-line-bottom"></span>
</div>
<div id="humburger-menu-close" class="humburger-box-open">
    <span class="humburger-line-top-open"></span>
    <span class="humburger-line-bottom-open"></span>
</div>
<nav>
    <ul>
        <li><a href="{% url 'list-item' %}" class="color-light">アイテム一覧</a></li>
        <li><a href="{% url 'list-outfit' %}" class="color-light">コーデ一覧</a></li>
        <li><a href="" class="color-light">マイページ</a></li>
        <li><a href="{% url 'accounts:logout' %}" class="color-light">ログアウト</a></li>
    </ul>
</nav>
{% endblock %}

{% block menu %}
<dic id="menu" class="menu-content background-grey">
    <div class="menu-item border-dark">
        <a href="{% url 'list-item' %}"><h4 class="menu-title color-dark">アイテム一覧</h4></a>
    </div>
    <div class="menu-item border-dark">
        <a href="{% url 'list-outfit' %}"><h4 class="menu-title color-dark">コーデ一覧</h4></a>
    </div>
    <div class="menu-item border-dark">
        <div><h4 class="menu-title color-dark">マイページ</h4></div>
    </div>
    <div class="menu-item-bottom border-dark">
        <a href="{% url 'accounts:logout' %}"><h4 class="menu-title color-dark">ログアウト</h4></a>
    </div>
</dic>
{% endblock %}

{% block page-title %}
{% if request.GET.query %}
<div class="after-title-bar-items">
    <div class="search-and-return">
        <!--戻るボタン-->
        <a class="return-search-box" onclick="history.back()">
            <img class="return-search-img" src="{% static 'hanger/img/icon-park-outline--return.png' %}">
        </a>
        <form method="get" class="search-form">
            <input name="query" value="{{ request.GET.query }}" type="text" class="color-dark">
            <!--検索ボタン-->
            <button type="submit" id="search-result" class="return-search-box-after">
                <img class="return-search-img" src="{% static 'hanger/img/material-symbols--search.png' %}">
            </button>
        </form>
    </div>
    <div class="button-display">
        <a class="addition-button-desktop background-light" href="{% url 'create-item' %}">
            <p class="color-dark">アイテム登録</p>
        </a>
    </div>
</div>
{% else %}
<div id="search-flex" class="before-title-bar-items">
    <div class="search-and-return">
        <!--戻るボタン-->
        <div id="return-button" class="return-search-box">
            <img class="return-search-img" src="{% static 'hanger/img/icon-park-outline--return.png' %}">
        </div>
        <form method="get" class="search-form">
            <input name="query" type="text" class="color-dark">
            <!--検索ボタン-->
            <button type="submit" id="search-result" class="return-search-box-after">
                <img class="return-search-img" src="{% static 'hanger/img/material-symbols--search.png' %}">
            </button>
        </form>
    </div>
    <!--デスクトップ版追加ボタン-->
    <div class="button-display">
        <a class="addition-button-desktop background-light" href="{% url 'create-item' %}">
            <p class="color-dark">アイテム登録</p>
        </a>
    </div>
</div>
<div id=search-hide class="list-title-bar-items">
    <div class="page-title-and-search">
        <h2 class="page-title">アイテム一覧</h2>
        <!--検索ボタン-->
        <div id="search-button" class="return-search-box">
            <img class="return-search-img" src="{% static 'hanger/img/material-symbols--search.png' %}">
        </div>
    </div>
    <!--デスクトップ版追加ボタン-->
    <div class="button-display">
        <a class="addition-button-desktop background-light" href="{% url 'create-item' %}">
            <p class="color-dark">アイテム登録</p>
        </a>
    </div>
</div>
{% endif %}

{% endblock %}


{% block content_child %}
<!--ハンガーイラスト-->
<span class="list-hanger"></span>
<!--追加ボタン-->
<a class="addition-button background-light border-dark" href="{% url 'create-item' %}">
    <span class="addition-button-line-vertical background-dark"></span>
    <span class="addition-button-line-horizontal background-dark"></span>
</a>
{% if request.GET.query %}
<h4 class="search-result color-dark">”{{ request.GET.query }}”検索結果</h4>
{% endif %}
<div class="list-content">
    <div class="list-category">
        <h3 class="list-title color-dark">トップス</h3>
        <div class="list-items">
            {% for item in object_list %}
                {% if item.category == "トップス" %}
                    <a class="item-box background-dark" href="{% url 'detail-item' item.pk %}">
                        <div class="item-elements">
                            <img class="item-img img-border-light" src="{{ item.thumbnail.url }}">
                            <p class="item-name color-light">{{ item.name }}</p>
                            <p class="item-brand color-light">{{ item.brand }}</p>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="list-category">
        <h3 class="list-title color-dark">パンツ</h3>
        <div class="list-items">
            {% for item in object_list %}
                {% if item.category == "パンツ" %}
                    <a class="item-box background-dark" href="{% url 'detail-item' item.pk %}?next={{ request.path }}">
                        <div class="item-elements">
                            <img class="item-img img-border-light" src="{{ item.thumbnail.url }}">
                            <p class="item-name color-light">{{ item.name }}</p>
                            <p class="item-brand color-light">{{ item.brand }}</p>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="list-category">
        <h3 class="list-title color-dark">アウター</h3>
        <div class="list-items">
            {% for item in object_list %}
                {% if item.category == "アウター" %}
                    <a class="item-box background-dark" href="{% url 'detail-item' item.pk %}?next={{ request.path }}">
                        <div class="item-elements">
                            <img class="item-img img-border-light" src="{{ item.thumbnail.url }}">
                            <p class="item-name color-light">{{ item.name }}</p>
                            <p class="item-brand color-light">{{ item.brand }}</p>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="list-category">
        <h3 class="list-title color-dark">シューズ</h3>
        <div class="list-items">
            {% for item in object_list %}
                {% if item.category == "シューズ" %}
                    <a class="item-box background-dark" href="{% url 'detail-item' item.pk %}?next={{ request.path }}">
                        <div class="item-elements">
                            <img class="item-img img-border-light" src="{{ item.thumbnail.url }}">
                            <p class="item-name color-light">{{ item.name }}</p>
                            <p class="item-brand color-light">{{ item.brand }}</p>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="list-category">
        <h3 class="list-title color-dark">アクセサリー</h3>
        <div class="list-items">
            {% for item in object_list %}
                {% if item.category == "アクセサリー" %}
                    <a class="item-box background-dark" href="{% url 'detail-item' item.pk %}?next={{ request.path }}">
                        <div class="item-elements">
                            <img class="item-img img-border-light" src="{{ item.thumbnail.url }}">
                            <p class="item-name color-light">{{ item.name }}</p>
                            <p class="item-brand color-light">{{ item.brand }}</p>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="list-category">
        <h3 class="list-title color-dark">その他</h3>
        <div class="list-items">
            {% for item in object_list %}
                {% if item.category == "その他" %}
                    <a class="item-box background-dark" href="{% url 'detail-item' item.pk %}?next={{ request.path }}">
                        <div class="item-elements">
                            <img class="item-img img-border-light" src="{{ item.thumbnail.url }}">
                            <p class="item-name color-light">{{ item.name }}</p>
                            <p class="item-brand color-light">{{ item.brand }}</p>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}