{% extends 'header_and_back.html' %}
{% load static %}

{% block title_child %}アイテム登録{% endblock %}

{% block nav %}
<div id="humburger-menu-open" class="humburger-box">
    <span class="humburger-line-top"></span>
    <span class="humburger-line-middle"></span>
    <span class="humburger-line-bottom"></span>
</div>
<div id="humburger-menu-close" class="humburger-box-open">
    <span class="humburger-line-top-open"></span>
    <span class="humburger-line-bottom-open"></span>
</div>
{% endblock %}

{% block menu %}
<dic id="menu" class="menu-content background-grey">
    <div class="menu-item border-dark">
        <a href="{% url 'list-item' %}"><h4 class="menu-title color-dark">アイテム一覧</h4></a>
    </div>
    <div class="menu-item border-dark">
        <a href="{% url 'list-outfit' %}"><h4 class="menu-title color-dark">コーデ一覧</h4></a>
    </div>
    <div class="menu-item border-dark">
        <div><h4 class="menu-title color-dark">マイページ</h4></div>
    </div>
    <div class="menu-item-bottom border-dark">
        <a href="{% url 'accounts:logout' %}"><h4 class="menu-title color-dark">ログアウト</h4></a>
    </div>
</dic>
{% endblock %}


{% block page-title %}
<div class="detail-create-title-bar-items">
    <!--戻るボタン-->
    <a class="return-search-box" href="{% url 'list-item' %}">
        <img class="return-search-img" src="{% static 'hanger/img/icon-park-outline--return.png' %}">
    </a>
    <h2 class="page-title">アイテム登録</h2>
</div>
{% endblock %}

{% block content_child %}
<!--ハンガーイラスト-->
<span class="detail-create-hanger"></span>
<div class="item-detail-content">
    <div class="item-detail-items background-grey">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-items">
                <h3>アイテム名</h3>
                <input name="name" class="border-dark background-light">
            </div>
            <div class="form-items">
                <h3>ブランド名</h3>
                <input name="brand" class="border-dark background-light">
            </div>
            <div class="form-items">
                <h3>カテゴリーを選択</h3>
                <select name="category" class="border-dark background-light">
                    {% for category in form.category %}
                        {{ category }}
                    {% endfor %}
                </select>
            </div>
            <div class="form-items">
                <h3>画像を選択</h3>
                <input type="file" name="thumbnail" id="form-file">
            </div>
            <button type="submit" class="form-button background-dark color-light">登録する</button>
        </form>
    </div>
</div>
{% endblock %}