{% extends 'header_and_back.html' %}
{% load static %}

{% block title_child %}コーデ登録{% endblock %}

{% block nav %}
<div id="humburger-menu-open" class="humburger-box">
    <span class="humburger-line-top"></span>
    <span class="humburger-line-middle"></span>
    <span class="humburger-line-bottom"></span>
</div>
<div id="humburger-menu-close" class="humburger-box-open">
    <span class="humburger-line-top-open"></span>
    <span class="humburger-line-bottom-open"></span>
</div>
<nav>
    <ul>
        <li><a href="{% url 'list-item' %}" class="color-light">アイテム一覧</a></li>
        <li><a href="{% url 'list-outfit' %}" class="color-light">コーデ一覧</a></li>
        <li><a href="" class="color-light">マイページ</a></li>
        <li><a href="{% url 'accounts:logout' %}" class="color-light">ログアウト</a></li>
    </ul>
</nav>

{% endblock %}

{% block menu %}
<dic id="menu" class="menu-content background-grey">
    <div class="menu-item border-dark">
        <a href="{% url 'list-item' %}"><h4 class="menu-title color-dark">アイテム一覧</h4></a>
    </div>
    <div class="menu-item border-dark">
        <a href="{% url 'list-outfit' %}"><h4 class="menu-title color-dark">コーデ一覧</h4></a>
    </div>
    <div class="menu-item border-dark">
        <div><h4 class="menu-title color-dark">マイページ</h4></div>
    </div>
    <div class="menu-item-bottom border-dark">
        <a href="{% url 'accounts:logout' %}"><h4 class="menu-title color-dark">ログアウト</h4></a>
    </div>
</dic>
{% endblock %}


{% block page-title %}
<div class="detail-create-title-bar-items">
    <!--戻るボタン-->
    <a class="return-search-box" href="{% url 'list-outfit' %}">
        <img class="return-search-img" src="{% static 'hanger/img/icon-park-outline--return.png' %}">
    </a>
    <h2 class="page-title">コーデ登録</h2>
</div>
{% endblock %}

{% block content_child %}
<!--ハンガーイラスト-->
<span class="detail-create-hanger"></span>
<div class="item-detail-content">
    <div class="item-detail-items background-grey">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="error">            
            {% for error in form.errors.thumbnail %}
                {{ error }}
            {% endfor %}
            </div>

            <div class="form-items">
                <h3>コーデ名</h3>
                <input name="name" class="border-dark background-light">
            </div>
            <div class="form-items">
                <h3>画像を選択</h3>
                <input type="file" name="thumbnail" id="form-file">
            </div>
            <div class="form-items">
                <h3>季節を選択</h3>
                <div class="checkbox-season-content">
                    {% for checkbox in form.seasons %}
                    <div class="checkbox-items">
                        {{ checkbox.tag }}
                        {% if checkbox.choice_label == 'Spring' %}
                        <div class="background-spring create-season-title-box border-dark bw-1">
                            <label for="{{ checkbox.id_for_label }}" class="create-season-name color-dark">
                                {{ checkbox.choice_label }}
                            </label>
                        </div>
                        {% elif checkbox.choice_label == 'Summer' %}
                        <div class="background-summer create-season-title-box border-dark bw-1">
                            <label for="{{ checkbox.id_for_label }}" class="create-season-name color-dark">
                                {{ checkbox.choice_label }}
                            </label>
                        </div>
                        {% elif checkbox.choice_label == 'Autumn' %}
                        <div class="background-autumn create-season-title-box border-dark bw-1">
                            <label for="{{ checkbox.id_for_label }}" class="create-season-name color-dark">
                                {{ checkbox.choice_label }}
                            </label>
                        </div>
                        {% elif checkbox.choice_label == 'Winter' %}
                        <div class="background-winter create-season-title-box border-dark bw-1">
                            <label for="{{ checkbox.id_for_label }}" class="create-season-name color-dark">
                                {{ checkbox.choice_label }}
                            </label>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="form-items">
                <h3>アイテムを選択</h3>
                <h4>トップス</h4>
                <div class="checkbox-item-content">
                    {% for checkbox in form.items %}
                        {% for im in item %}
                            {% if checkbox.choice_label == im.name %}
                                {% if im.category == 'トップス' %}
                                    <div class="checkbox-items">
                                        {{ checkbox.tag }}
                                        <label for="{{ checkbox.id_for_label }}" class="checkbox-item-name color-dark">
                                            {{ checkbox.choice_label }}
                                        </label>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
                <h4>パンツ</h4>
                <div class="checkbox-item-content">
                    {% for checkbox in form.items %}
                        {% for im in item %}
                            {% if checkbox.choice_label == im.name %}
                                {% if im.category == 'パンツ' %}
                                    <div class="checkbox-items">
                                        {{ checkbox.tag }}
                                        <label for="{{ checkbox.id_for_label }}" class="checkbox-item-name color-dark">
                                            {{ checkbox.choice_label }}
                                        </label>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
                <h4>アウター</h4>
                <div class="checkbox-item-content">
                    {% for checkbox in form.items %}
                        {% for im in item %}
                            {% if checkbox.choice_label == im.name %}
                                {% if im.category == 'アウター' %}
                                    <div class="checkbox-items">
                                        {{ checkbox.tag }}
                                        <label for="{{ checkbox.id_for_label }}" class="checkbox-item-name color-dark">
                                            {{ checkbox.choice_label }}
                                        </label>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
                <h4>シューズ</h4>
                <div class="checkbox-item-content">
                    {% for checkbox in form.items %}
                        {% for im in item %}
                            {% if checkbox.choice_label == im.name %}
                                {% if im.category == 'シューズ' %}
                                    <div class="checkbox-items">
                                        {{ checkbox.tag }}
                                        <label for="{{ checkbox.id_for_label }}" class="checkbox-item-name color-dark">
                                            {{ checkbox.choice_label }}
                                        </label>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
                <h4>アクセサリー</h4>
                <div class="checkbox-item-content">
                    {% for checkbox in form.items %}
                        {% for im in item %}
                            {% if checkbox.choice_label == im.name %}
                                {% if im.category == 'アクセサリー' %}
                                    <div class="checkbox-items">
                                        {{ checkbox.tag }}
                                        <label for="{{ checkbox.id_for_label }}" class="checkbox-item-name color-dark">
                                            {{ checkbox.choice_label }}
                                        </label>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
                <h4>その他</h4>
                <div class="checkbox-item-content">
                    {% for checkbox in form.items %}
                        {% for im in item %}
                            {% if checkbox.choice_label == im.name %}
                                {% if im.category == 'その他' %}
                                    <div class="checkbox-items">
                                        {{ checkbox.tag }}
                                        <label for="{{ checkbox.id_for_label }}" class="checkbox-item-name color-dark">
                                            {{ checkbox.choice_label }}
                                        </label>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
            <button type="submit" class="form-button background-dark color-light">登録する</button>
        </form>
    </div>
</div>
{% endblock %}