{% extends 'header_and_back.html' %}
{% load static %}

{% block title_child %}コーデ削除{% endblock %}

{% block nav %}
<div id="humburger-menu-open" class="humburger-box">
    <span class="humburger-line-top"></span>
    <span class="humburger-line-middle"></span>
    <span class="humburger-line-bottom"></span>
</div>
<div id="humburger-menu-close" class="humburger-box-open">
    <span class="humburger-line-top-open"></span>
    <span class="humburger-line-bottom-open"></span>
</div>
<nav>
    <ul>
        <li><a href="{% url 'list-item' %}" class="color-light">アイテム一覧</a></li>
        <li><a href="{% url 'list-outfit' %}" class="color-light">コーデ一覧</a></li>
        <li><a href="" class="color-light">マイページ</a></li>
        <li><a href="{% url 'accounts:logout' %}" class="color-light">ログアウト</a></li>
    </ul>
</nav>

{% endblock %}

{% block menu %}
<dic id="menu" class="menu-content background-grey">
    <div class="menu-item border-dark">
        <a href="{% url 'list-item' %}"><h4 class="menu-title color-dark">アイテム一覧</h4></a>
    </div>
    <div class="menu-item border-dark">
        <a href="{% url 'list-outfit' %}"><h4 class="menu-title color-dark">コーデ一覧</h4></a>
    </div>
    <div class="menu-item border-dark">
        <div><h4 class="menu-title color-dark">マイページ</h4></div>
    </div>
    <div class="menu-item-bottom border-dark">
        <a href="{% url 'accounts:logout' %}"><h4 class="menu-title color-dark">ログアウト</h4></a>
    </div>
</dic>
{% endblock %}


{% block page-title %}
<div class="detail-create-title-bar-items">
    <!--戻るボタン-->
    <a class="return-search-box" href="{% url 'detail-outfit' object.pk %}">
        <img class="return-search-img" src="{% static 'hanger/img/icon-park-outline--return.png' %}">
    </a>
    <h2 class="page-title">コーデ削除</h2>
</div>
{% endblock %}

{% block content_child %}
<!--ハンガーイラスト-->
<span class="detail-create-hanger"></span>
<div class="item-delete-content">
    <div class="item-detail-items background-dark">
        <h4 class="delete-title color-light">"{{ object.name }}"を本当に削除しますか？</h2>
        <div class="item-detail-button-items">
            <a class="item-detail-button-box background-dark border-light" href="{% url 'detail-outfit' object.pk %}">
                <h3 class="item-detail-button-title color-light">いいえ</h2>
            </a>
            <form method="post" class="background-red item-detail-button-box border-light">
                {% csrf_token %}
                <button type="submit" class="item-detail-button-title color-light">はい</h2>
            </form>
        </div>
    </div>
</div>
{% endblock %}