{% extends 'header_and_back.html' %}
{% load static %}

{% block title_child %}コーデ一覧{% endblock %}

{% block nav %}
<div id="humburger-menu-open" class="humburger-box">
    <span class="humburger-line-top"></span>
    <span class="humburger-line-middle"></span>
    <span class="humburger-line-bottom"></span>
</div>
<div id="humburger-menu-close" class="humburger-box-open">
    <span class="humburger-line-top-open"></span>
    <span class="humburger-line-bottom-open"></span>
</div>
<nav>
    <ul>
        <li><a href="{% url 'list-item' %}" class="color-light">アイテム一覧</a></li>
        <li><a href="{% url 'list-outfit' %}" class="color-light">コーデ一覧</a></li>
        <li><a href="" class="color-light">マイページ</a></li>
        <li><a href="{% url 'accounts:logout' %}" class="color-light">ログアウト</a></li>
    </ul>
</nav>

{% endblock %}

{% block menu %}
<dic id="menu" class="menu-content background-grey">
    <div class="menu-item border-dark">
        <a href="{% url 'list-item' %}"><h4 class="menu-title color-dark">アイテム一覧</h4></a>
    </div>
    <div class="menu-item border-dark">
        <a href="{% url 'list-outfit' %}"><h4 class="menu-title color-dark">コーデ一覧</h4></a>
    </div>
    <div class="menu-item border-dark">
        <div><h4 class="menu-title color-dark">マイページ</h4></div>
    </div>
    <div class="menu-item-bottom border-dark">
        <a href="{% url 'accounts:logout' %}"><h4 class="menu-title color-dark">ログアウト</h4></a>
    </div>
</dic>
{% endblock %}


{% block page-title %}
{% if request.GET.query %}
<div class="after-title-bar-items">
    <div class="search-and-return">
        <!--戻るボタン-->
        <a class="return-search-box" onclick="history.back()">
            <img class="return-search-img" src="{% static 'hanger/img/icon-park-outline--return.png' %}">
        </a>
        <form method="get" class="search-form">
            <input name="query" value="{{ request.GET.query }}" type="text" class="color-dark">
            <!--検索ボタン-->
            <button type="submit" id="search-result" class="return-search-box-after">
                <img class="return-search-img" src="{% static 'hanger/img/material-symbols--search.png' %}">
            </button>
        </form>
    </div>
    <div class="button-display">
        <a class="addition-button-desktop background-light" href="{% url 'create-outfit' %}">
            <p class="color-dark">コーデ登録</p>
        </a>
    </div>
</div>
{% else %}
<div id="search-flex" class="before-title-bar-items">
    <div class="search-and-return">
        <!--戻るボタン-->
        <div id="return-button" class="return-search-box">
            <img class="return-search-img" src="{% static 'hanger/img/icon-park-outline--return.png' %}">
        </div>
        <form method="get" class="search-form">
            <input name="query" type="text" class="color-dark">
            <!--検索ボタン-->
            <button type="submit" id="search-result" class="return-search-box-after">
                <img class="return-search-img" src="{% static 'hanger/img/material-symbols--search.png' %}">
            </button>
        </form>
    </div>
    <!--デスクトップ版追加ボタン-->
    <div class="button-display">
        <a class="addition-button-desktop background-light" href="{% url 'create-outfit' %}">
            <p class="color-dark">コーデ登録</p>
        </a>
    </div>
</div>
<div id=search-hide class="list-title-bar-items">
    <div class="page-title-and-search">
        <h2 class="page-title">コーデ一覧</h2>
        <!--検索ボタン-->
        <div id="search-button" class="return-search-box">
            <img class="return-search-img" src="{% static 'hanger/img/material-symbols--search.png' %}">
        </div>
    </div>
    <!--デスクトップ版追加ボタン-->
    <div class="button-display">
        <a class="addition-button-desktop background-light" href="{% url 'create-outfit' %}">
            <p class="color-dark">コーデ登録</p>
        </a>
    </div>
</div>
{% endif %}

{% endblock %}


{% block content_child %}
<span class="list-hanger"></span>
<a class="addition-button background-dark border-light" href="{% url 'create-outfit' %}">
    <span class="addition-button-line-vertical background-light"></span>
    <span class="addition-button-line-horizontal background-light"></span>
</a>
{% if request.GET.query %}
<h4 class="search-result color-dark">”{{ request.GET.query }}”検索結果</h4>
{% endif %}
<div class="outfit-list-content">
    <div class="outfit-top-box background-dark border-light"></div>
    <div class="outfit-box">
        <div class="outfit-box-left background-dark border-light"></div>
        <div class="outfit-box-center background-dark">
            {% for ssn in season %}
                <div class="season-title-content background-dark img-border-light">
                    {% if ssn|stringformat:"s" == 'Spring' %}
                        <div class="season-title-box background-spring">
                            <h2 class="season-name color-dark">{{ ssn }}</h2>
                        </div>
                    {% elif ssn|stringformat:"s" == "Summer" %}
                        <div class="season-title-box background-summer">
                            <h2 class="season-name color-dark">{{ ssn }}</h2>
                        </div>
                    {% elif ssn|stringformat:"s" == "Autumn" %}
                        <div class="season-title-box background-autumn">
                            <h2 class="season-name color-dark">{{ ssn }}</h2>
                        </div>
                    {% elif ssn|stringformat:"s" == "Winter" %}
                        <div class="season-title-box background-winter">
                            <h2 class="season-name color-dark">{{ ssn }}</h2>
                        </div>
                    {% endif %}
                </div>
                <div class="outfit-list-items background-dark border-light">
                    {% for outfit in object_list %}
                        {% for outfit_season in outfit.seasons.all %}
                            {% if outfit_season == ssn %}
                                <a class="item-box background-light" href="{% url 'detail-outfit' outfit.pk %}">
                                    <div class="item-elements">
                                        <img class="item-img img-border-dark" src="{{ outfit.thumbnail.url }}">
                                        <p class="item-name color-dark">{{ outfit.name }}</p>
                                    </div>
                                </a>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
                <div class="outfit-box-bottom border-light"></div>
            {% endfor %}
        </div>
        <div class="outfit-box-right background-dark border-light"></div>
    </div>
</div>
{% endblock %}