{% extends 'base.html' %}

{% block title_parent %}{% block title_child %}{% endblock %}{% endblock %}

{% block content %}
    <header>
        <div class="header-content">
            <div class="header-items">
                <h1 class="header-title">hanger</h1>
                {% block nav %}{% endblock %}   <!-- 空白orハンバーガーメニュー -->
            </div>
        </div>
    </header>
    <main>
        <div class="title-bar">
            {% block page-title %}{% endblock %}   <!-- タイトルとボタン -->
        </div>
        {% block content_child %}{% endblock %}
    </main>
{% endblock %}
{% block script %}{% block script_child %} {% endblock %}{% endblock %}